@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');

* {
  font-family: 'Noto Sans TC','Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #546377;
}

.side-menu {
  display: flex;
  padding: 50px 0;
  width: 300px;
  height: 100%;
  background-image: linear-gradient(0deg, #3381b0, #c2196c);
  flex-direction: column;
  box-shadow: 5px 0 10px hsla(240, 40%, 15%, 0.6);

  form {
    display: flex;
    margin: 0 10px 50px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100px;

    input,
    button {
      padding: 5px 10px;
      color: #fff;
      background-color: transparent;
      border: none;
    }

    input:focus,
    button:focus {
      outline: none;
    }

    input {
      width: 250px;
    }

    button {
      width: 50px;
    }
  }

  nav {
    a {
      position: relative;
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #fff;

      i {
        width: 1em;
      }
    }

    a + a::before {
      position: absolute;
      top: 0;
      right: 10px;
      left: 10px;
      content: '';
      border-top: 1px solid rgb(255, 255, 255);
    }

    a .fas {
      margin-right: -1.1em;
      transform: scale(0);
      transition: 0.3s;
    }

    a:hover .fas {
      margin-right: 0.2em;
      transform: scale(1);
    }
  }
}
