@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  color: rgba(55, 55, 55, 0.6);
  background: linear-gradient(115deg, rgba(000, 000, 000, 0.3) 50%, transparent 50%) center center/100% 100%, url('https://picsum.photos/id/119/1440/600') right center/auto 100%;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.6),-2px 2px rgba(255, 255, 255, 0.6),2px -2px rgba(255, 255, 255, 0.6), -2px -2px rgba(255, 255, 255, 0.6);
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  height: 100%;
}

.banner-txt {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  flex-direction: column;

  h1 {
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
    font-size: 80px;
    border-bottom: 1px solid #333;
    font-weight: 900;

    small {
      display: block;
      font-size: 72px;
      font-weight: 700;
    }
  }

  h2 {
    font-size: 54px;
    font-weight: 700;
  }

  p {
    font-size: 36px;
    font-weight: 400;
  }
}
